<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.usi.inf.mwc.cusi">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.TestActivity"
            android:exported="false"
            android:label="@string/label_test"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />

        <!-- Secret Code Receiver, which is used to launch different activities via dialer codes -->
        <receiver
            android:name=".test.SecretCodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="2874"
                    android:scheme="android_secret_code" />
                <data
                    android:host="28746397"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <service
            android:name=".networking.sync.SyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="ch.usi.inf.mwc.cusi.schedule.widget.ScheduleWidgetViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="ch.usi.inf.mwc.cusi.schedule.widget.ScheduleWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule" />
        </receiver>
    </application>
</manifest>
