<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.usi.inf.mwc.cusi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:appCategory="productivity"
        android:label="@string/app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".course.CourseDetailsFragment"
            android:exported="false"
            android:label="@string/label_course_info" />
    </application>
</manifest>
